.composition {
    width: 600px;
    height: 400px;
    background-image: url('../img/bg.jpg');
    position: fixed;
    z-index: 1;
}

.asteroid {
    position: relative;
    z-index: 2;
    top: -20px;
    right: -435px;
  }

.planet-1 {
    position: relative;
    z-index: 2;
    bottom: 25px;
    left: 110px;
}

.planet-2 {
    position: relative;
    z-index: 3;
    top:70px;
    left: -150px;
  }

.planet-3 {
    position: relative;
    z-index: 5;
    bottom: 30px;
    left: 150px;
}

.spaceship {
    position: relative;
    z-index: 4;
    top: -200px;
    right: 100px;
}
.ufo {
    position: relative;
    z-index: 6;
    bottom: 54px;
    right: 150px;
}

.superman {
    position: relative;
    z-index: 5;
    left: 100px;
    top: -17px;
}
